NODE_ENV="dev"
PORT=4000
FRONTEND_URL="http://localhost:3000"
DATABASE_URL="your_database_url_here"
SALT_ROUNDS="your_salt_rounds_here"
ACCESS_TOKEN_SECRET="your_access_token_secret_here"
ACCESS_TOKEN_EXPIRES_IN="your_access_token_expires_in_here"
REFRESH_TOKEN_SECRET="your_refresh_token_secret_here"
REFRESH_TOKEN_EXPIRES_IN="your_refresh_token_expires_in_here"