NODE_ENV="dev"
PORT=4000
FRONTEND_URL="http://localhost:3000"
DATABASE_URL="your_database_url_here"
SALT_ROUNDS="your_salt_rounds_here"
ACCESS_TOKEN_SECRET="your_access_token_secret_here"
ACCESS_TOKEN_EXPIRES_IN="your_access_token_expires_in_here"
REFRESH_TOKEN_SECRET="your_refresh_token_secret_here"
REFRESH_TOKEN_EXPIRES_IN="your_refresh_token_expires_in_here"
GLOBAL_RATE_LIMIT_WINDOW=15
GLOBAL_RATE_LIMIT_SIZE=400
LOGIN_RATE_LIMIT_WINDOW=5
LOGIN_RATE_LIMIT_SIZE=200
SHORT_URL_RATE_LIMIT_WINDOW=8
SHORT_URL_RATE_LIMIT_SIZE=100

SHORT_URL_TOKEN_BUCKET_CAPACITY=20
SHORT_URL_TOKEN_BUCKET_REFILL_RATE=1
SHORT_URL_TOKEN_BUCKET_REFILL_INTERVAL=3000

HOT_URL_CACHE_TTL=600
CACHE_WARMER_TIME= 15 * 60 * 1000,
URL_CACHE_TTL=1800

LOCK_TTL_SECONDS=5
JITTER_PERCEN=0.1